* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsla(240, 8%, 77%, 0.678);
}

nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}
button {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: hsla(240, 100%, 50%, 0.644);
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:focus {
  background-color: hsl(240, 100%, 50%);
}
